.rowPost{
    margin-left: 20px;
    color: #fff;
}
.row{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.row::-webkit-scrollbar{
    display: none;
}
.postersm{
    max-height: 150px;
    margin-right: 10px;    
    transition: transform .3s;
    cursor: pointer;
}
.poster{
    max-height: 250px;
    margin-right: 10px;
    transition: transform .3s;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.1);
}
.postersm:hover{
    transform: scale(1.1);
}